<div class="container">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/crowdsale']">Crowdsale</a></li>
    <li class="active">Nueva</li>
  </ol>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>Nueva Crowdsale</h3>
    </div>
    <div class="panel-body">
      <div style="width: 650px; margin: 0 auto">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="desde">Desde</label>
                <div class="input-append date" id="datetimepicker_desde" data-date-format="dd-mm-yyyy hh:ii">
                  <input class="form-control" size="16" type="text" id="desde" readonly [(ngModel)]="desde" name="desde">
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="hasta">Hasta</label>
                <div class="input-append date" id="datetimepicker_hasta" data-date-format="dd-mm-yyyy hh:ii">
                  <input class="form-control" size="16" type="text" id="hasta" readonly [(ngModel)]="hasta" name="hasta">
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <h3>Tokens</h3>
        <form>
          <table class="table">
            <tr>
              <th>Token ID</th>
              <th width="100px">Precio</th>
            </tr>
              <tr *ngFor="let t of tokens">
                <td>{{t.id}} - {{t.description}}</td>
                <td><input type="number" class="form-control" [(ngModel)]="t.price" name="price"></td>
              </tr>
          </table>
        </form>
      </div>
      <a (click)="crearCrowdsale()" class="btn btn-primary pull-right" role="button">Crear</a>
    </div>
  </div>
<div>
